*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
body{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Helvetica Neue', Arial, sans-serif;
    line-height: 1.5;
    text-align: center;
    color: #333;
}
.container{
    background-color: #eee;
    margin: 30px 8px;
    padding: 15px;
}
.intro h1{
    margin-top:26.8px;
}
.intro p{
    margin: 16px 0;
}
.picture{
    background-color: #fff;
    padding: 10px;
}
.picture p{
    margin: 15px 0px 5px;
}
.time-line h3{
    margin: 50px 0;
}
.time-line ul{
    margin: 0 419.2px 50px;
    padding-left: 40px;
}
.time-line li{
    margin: 16px 0;
    text-align: start;
}
.quote{
    margin: 0 419.2px 50px;
    text-align: start;
}
.quote p{
    margin-top: 16px;
}
h3{
    margin: 18.72px 0;
}