*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    position: relative;
    border: 5px solid green;
    background-color: #eee;
    font-family: 'Lato', sans-serif;
    display: flex;
    flex-direction: column;
    line-height: 1.5;
    font-size: 16px;
    font-weight: 400;
}
div{
    display: block;
}
header{
    position: fixed;
    top: 0;
    min-height: 75px;
    padding: 0px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #eee;
    width: 100%;
}
header>div>img{
    width: 100%;
    height: 100%;
    max-width: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-left: 20px;
}
#logo{
    width:  514.71px;
}
header>ul{
    width: 35vw;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
header>ul>li{
    list-style: none;
}
a {
    color: #000;
    text-decoration: none;
}
#form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 200px;
    margin-top: 50px;
    font-size: 16px;
}
#form>h2{
    display: block;
    margin-bottom: 20px;
    font-size: 24px;
    font-weight: bold;
}
#form>form{
    height: 90px;
    width: 323.9px;
    display: block;
    text-align: center;
}
#form input[type='email'] {
    max-width: 275px;
    width: 100%;
    padding: 5px;
}
#form input[type='submit'] {
    max-width: 150px;
    width: 100%;
    height: 30px;
    margin: 15px 0;
    border: 0;
    background-color: #f1c40f;
}
#submit {
    padding: 0 15px 0 15.5px;
    font-size: 1em;
    font-weight: 900;
    text-transform: uppercase;
    border-radius: 2px;
    background: transparent;
    cursor: pointer;
}
.icon{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 125px;
    width: 20vw;
    color: darkorange;
}
.fas{
    -webkit-font-smoothing: antialiased;
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    line-height: 1;
    font-weight: 900;
    font-size: 3em;
}
.grid{
    display: flex;
}
section{
    display: block;
}
#features{
    margin-top: 30px;
}
.desc{    
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 125px;
    width: 100%;
    padding: 5px;
}
#container{
    max-width: 1000px;
    width: 100%;
    margin: 0 auto;
}

#how-it-works{
    margin-top: 50px;
    display: flex;
    justify-content: center;
}
#pricing{
    display:flex;  
    margin-top: 60px;
    justify-content: center;
    flex-grow: 1;
}
.trombone{
    background-color: #ddd;
    color: black;
    padding: 15px 0;
    width: 100%;
    text-transform: uppercase;
    font-weight: 700;
}

.product{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    border: 1px solid black;
    margin: 10px;
    flex: 1 1 auto;
    width: calc(100% / 3);
}
.product>h2{
    margin-top: 15px;
    font-size: 25px;
}


.product>ol{
    margin: 15px 0;
}
.product>ol>li{
    list-style: none;
    padding: 5px;
}

footer>ul{
    display:flex;
    justify-content: flex-end;
    list-style: none;
}
footer>ul>li{
    padding: 0 10px;
}
footer>p{
    margin-top: 5px;
    display: flex;
    justify-content: flex-end;
    font-size: 0.9em;
    color: #444;
}
footer{
    margin-top: 30px;
    padding: 20px;
    background-color: #ddd;
}
button{
    background-color: #f1c40f;
    border: none;
}
.btn{
    margin: 15px 0;
    padding: 0 20px;
    font: 16px Arial;
    font-weight: 400;
    height: 40px;
    font-size: 1em;
    text-transform: uppercase;
    border-radius: 2px;
    cursor: pointer;
}